OPENAI_API_KEY=
GOOGLE_API_KEY=
GROQ_API_KEY=
OPENROUTER_API_KEY=
QDRANT_API_KEY=
QDRANT_Cluster_Endpoint=
QDRANT_COLLECTION_NAME=
OPENAI_CHAT_MODEL=
OPENAI_EMBEDDING_MODEL=
OPENAI_EMBEDDING_DIMENSION=
TESSERACT_PATH=